/* General Styles */

@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Ruda&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(39, 39, 39, 0.1) 0.01%,
            rgba(0, 0, 0, 0.13) 13.02%,
            #000 100%
        ),
        url("../assets/background.jpeg");
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #000;
}

.header__logo {
    color: #fff;
    text-align: center;
    font-family: Ruda;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.44px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__link:link,
.nav__link:visited {
    color: #fff;
    text-align: center;
    font-family: Ruda;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
    border-bottom: 1px solid currentColor;
}

/* Main */
.main {
    flex-grow: 1;
}

/* Home Section */

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: #fff;
    text-align: center;
    font-family: Quattrocento;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 700;
    border-bottom: 4px solid #f2c94c;
    padding-top: 7rem;
}

.paragraph {
    color: #fff;
    text-align: center;
    font-family: Ruda;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.25px;
    max-width: 74.5rem;
    padding-top: 1.5rem;
}

.image--pizza {
    width: 40%;
}

/* About Us Section */

.about {
    display: grid;
    grid-template-columns: repeat(2, 47.5rem);
    gap: 26rem;
    justify-items: center;
    justify-content: center;
    padding: 7rem;
}

.about-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.secondary-heading {
    color: #fff;
    font-family: Quattrocento;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 4px solid #f2c94c;
    margin-bottom: 2.5rem;
}

.paragraph--about {
    color: #fff;
    font-family: Ruda;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 160% */
    letter-spacing: 2.25px;
}

.button {
    color: #f2c94c;
    text-align: center;
    font-family: Ruda;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    border: 2px solid #f2c94c;
    padding: 1rem;
    transition: all 0.5s;
}

.button:hover {
    color: #000;
    background-color: #f2c94c;
}

.image--about {
    width: 100%;
}

/* Menu Section */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 7rem 3rem 7rem;
}

.menu-heading {
    color: #fff;
    text-align: center;
    font-family: Quattrocento;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 4px solid #f2c94c;
    margin-bottom: 2.5rem;
}

.menu-paragraph {
    color: #fff;
    text-align: center;
    font-family: Ruda;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 160% */
    letter-spacing: 2.25px;
    max-width: 1198px;
    margin-bottom: 2.5rem;
}

.images--menu {
    display: grid;
    grid-template-columns: repeat(2, 57.5fr);
    gap: 2.6rem;
    margin-bottom: 3.7rem;
}

.image--menu {
    max-height: 35.6rem;
    width: 576px;
}

/* Heading */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
}

.contact-heading {
    color: #fff;
    text-align: center;
    font-family: Quattrocento;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    border-bottom: 4px solid #f2c94c;
    margin-bottom: 4rem;
}

.icons {
    display: flex;
}

.social-links {
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 6rem;
    height: auto;
}
